body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* font-size: 12px; */
	line-height: 25px;
    background-size: 100% 1220px;
	text-align: center;
}
header{
    font-family: fantasy;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: white;
    text-shadow: 5px 5px 5px black,0px 0px 2px black;
	height:35px ;
	padding-bottom: 10px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
h3{
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: 2em;
}
h2{
    font-family: Verdana, 'Times New Roman', Times, serif;
    font-size: 2em;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
}
li {
	text-align: center;
	display: inline;
	padding-left: 100px;
}
ul {
	letter-spacing: 5px;
	margin-left: 100px;
	margin-right: 100px;
	height: 30px;
}
a {
	font-size: 1.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color:white;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color:white;
}
a:hover {
	text-decoration: none;
	color: lightskyblue;
}
a:active {
	text-decoration: none;
	color:black;
}
.food{
    float: left;
    width: 100%;
    height: 520px;
}
.imgBox{
    border: 4px solid white;
    border-radius: 10px;
    width: 510px;
    height: 410px;
    margin-left: 150px;
    float: left;
}

.imgBox img{
    width: 500px;
    height: 400px;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.img1{
    display: block;
}

.img2{
    display: none;
}

.img3{
    display: none;
}
.img4{
    display: none;
}
.wenzi1{
    width: 400px;
    height: 400px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 10px 10px 10px;
    color: black;
}
.wenzi2{
    width: 600px;
    height: 400px;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 10px 10px 10px;
}
.friends{
    width:100%;
    height: 520px;
    float: left;
}
.vd{
    width: 510px;
    height: 410px;
    float: right;
    padding: 0;
    border: 4px solid white;
    border-radius: 4px;
    margin-right: 150px;

}
video{
    width: 500px;
    height: 400px;
    float: right;
    padding: 0px 5px 10px 5px ;
}
.footer{
    width: 100%;
    height: 20px;
    text-align: left;
    font-family: fantasy;
    font-size: 10px;
	color: black;
}
