body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 25px;
    background-size: 100% 900px;
	text-align: center;
}
header{
    font-family: fantasy;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: white;
    text-shadow: 5px 5px 5px black,0px 0px 2px black;
	height:35px ;
	padding-bottom: 10px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
li {
	text-align: center;
	display: inline;
	padding-left: 100px;
}
ul {
	letter-spacing: 5px;
	margin-left: 100px;
	margin-right: 100px;
	height: 30px;
}
a {
	font-size: 1.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color:lightskyblue;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color:white;
}
a:hover {
	text-decoration: none;
	color: lightskyblue;
}
a:active {
	text-decoration: none;
	color:black;
}
div#letter {
    height: 500px;
    width:800px;
    margin-left: 250px;
    margin-right: 350px;
    padding-right: 50px;
    padding-left: 50px;
    border: solid white;
    border-width: 5px;
    border-radius: 20px;
    line-height: 5px;
    text-align: center;

}

h1 {
    font-size: 2em;
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
}

.tableRow {
    display: table-row;
    font-size: 20px;
}

.tableRow p {
	display: table-cell;
	vertical-align: top;
	padding: 4px;
    background-size:100% 100%;
    font-size: 20px;
    color: black;
}

form {
	display: table;
	padding: 10px;
    height: 400px;
    width: 600px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
footer{
    text-align: left;
    font-family: fantasy;
    font-size: 10px;
    float:inline-end;
	color: black
}