body {
    background-size: 100% 100%;
    line-height: 25px;
}

header{
    font-family: fantasy;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color:white;
    text-shadow: 5px 5px 5px black,0px 0px 2px black;
	height:35px ;
	padding-bottom: 10px;
    padding-top: 0;
    margin-top: 0;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}
li {
	text-align: center;
	display: inline;
	padding-left: 100px;
}
ul {
	letter-spacing: 5px;
	margin-left: 100px;
	margin-right: 100px;
	height: 30px;
}

a {
	font-size: 24px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:link{
	color: white;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color:lightskyblue;
}
a:active {
	text-decoration: none;
	color: #333;
}

#box {
    width: 100%;
    height: 800px;
    /* 上下60px,左右居中 */
    margin: 100px auto;
    /* border: 1px solid #000000; */
}

.pic {
    width: 15%;
    margin: 10px 20px;
    padding: 10px;
    box-shadow: 5px 5px 3px rgba(50, 50, 50, 0.4);
    background-color: rgb(255, 255, 255);
    transition: all 1s;
    /* 定位属性 */
    position:static;
}

.pic1 {
    transform: rotate(-20deg);
}

.pic2 {
    transform: rotate(10deg);
}

.pic3 {
    transform: rotate(-5deg);
}

.pic4 {
    transform: rotate(10deg);
}

.pic5 {
    transform: rotate(-10deg);
}

.pic6 {
    transform: rotate(5deg);
}

.pic7 {
    transform: rotate(-10deg);
}

.pic8 {
    transform: rotate(10deg);
}

.pic9 {
    transform: rotate(-5deg);
}

.pic10 {
    transform: rotate(-10deg);
}

.pic11 {
    transform: rotate(5deg);
}

.pic12 {
    transform: rotate(10deg);
}

.pic13 {
    transform: rotate(-5deg);
}

.pic14{
    transform: rotate(10deg);
}

.pic15 {
    transform: rotate(15deg);
}

.pic:hover{
    transform: rotate(360deg) scale(1.5);
    /* 保证图片在最上层,该属性作用的对象，要有定位属性才能生效 */
    z-index: 99;
    box-shadow: 5px 5px 3px rgba(50, 50, 50,1);
}
footer{
    text-align: left;
    font-family: fantasy;
    font-size: 10px;
    float:inline-end;
	color:black
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}